/*--=========================
        TOP NAVBAR
===========================--*/
nav{
  width: 100%;
}

.head {
  background: linear-gradient(to top, rgb(0, 128, 0), rgb(59, 224, 59));
  border-bottom: 2px solid rgba(0, 49, 0, 0.705);
  box-shadow: 1px 1px 7px black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/*--  Top NavBar Buttons to NOT Show on Lg Screens --*/
@media (max-width: 576px) {
  .water-btn {
    margin-left: 8px;
  }
}

/*--  Top NavBar Buttons to Show ONLY on Lg Screens --*/
@media (min-width: 576px) {
  .water-btn {
    margin-left: 20px;
  }
  .fitness-btn {
    margin-left: 10px;
}
}

/*--=========================
            Body
===========================--*/

/*--  Background --*/
body {
  background: linear-gradient(to right, rgb(24, 24, 24), rgb(53, 53, 53));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
}

/*-- Body Image --*/
.bench {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  box-shadow: 2px 2px 7px black;
}

/*-- Body Content --*/
.heart-bg {
  background-image: url(heart-active.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#bd-content {
  width: 90%;
  margin-bottom: 35px;
}

h1 {
  text-shadow: 0px 0px 5px rgb(0, 0, 0), 2px 2px 8px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0), 0px 0px 5px black;
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
  color: rgb(255, 255, 255);
  width: 100%;
}

#bd-content p {
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-shadow: 0px 0px 3px black, 2px 2px 4px rgb(0, 0, 0), 0px 0px 4px rgb(0, 0, 0), 0px 0px 5px black;
  width: 100%;
}

/*--=========================
        BOTTOM NAVBAR
===========================--*/

/*--  Bottom NavBar for Small Screens --*/
@media (max-width: 576px) {
 #bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to top, rgba(161, 161, 161, 0.541), rgba(0, 0, 0, 0.507));
  border-top: 2px solid rgba(53, 53, 53, 0.356);
  box-shadow: 1px 1px 5px black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 2;
  width: 100%;
  }
  .water-btn-btm {
    margin-right: 10px;
    margin-left: 5px;
  }
}

@media (min-width: 576px) {
 #bottom-nav {
  display: none;
 }
}

/*--=========================
          Footer
===========================--*/

footer {
  border-top: 1px solid rgb(136, 136, 136);
  border-radius: 7px;
  background: linear-gradient(to top, rgb(54, 54, 54), rgb(97, 97, 97));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-bottom: 60px;
  padding-top: 20px;
  color: #0B2A45;
  width: 100%;
}



