/*--=========================
        TOP NAVBAR
===========================--*/
nav{
  width: 100%;
}

.head {
  background: linear-gradient(to top, rgb(0, 109, 0), rgb(70, 231, 70));
  border-bottom: 2px solid rgba(0, 49, 0, 0.705);
  box-shadow: 1px 1px 7px black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/*--  Top NavBar Buttons to NOT Show on Lg Screens --*/
@media (max-width: 576px) {
  .water-btn {
    margin-left: 8px;
  }
}

/*--  Top NavBar Buttons to Show ONLY on Lg Screens --*/
@media (min-width: 576px) {
  .water-btn {
    margin-left: 20px;
  }
  .fitness-btn {
    margin-left: 10px;
}
}

/*--=========================
            Body
===========================--*/

/*--  Background --*/
body {
  background: linear-gradient(to right, rgb(24, 24, 24), rgb(53, 53, 53));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
}

#start {
  color: green;
}

#start:hover {
  color: rgb(0, 153, 0);
}

/*-- Home Page Body Image --*/
.bench {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  box-shadow: 2px 2px 7px black;
}

/*-- Body Content --*/
.weights-bg {
  background-image: url(weights.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#bd-content {
  width: 100%;
  margin-bottom: 30px;
}

/*-- Header --*/
h1 {
  text-shadow: 0px 0px 5px rgb(0, 0, 0), 2px 2px 8px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0), 0px 0px 5px black;
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
  color: rgb(255, 255, 255);
  width: 100%;
}

/*-- Paragragh --*/
#bd-content p {
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 3px black, 2px 2px 4px rgb(0, 0, 0), 0px 0px 4px rgb(0, 0, 0), 0px 0px 5px black;
  width: 100%;
}

/*-- Ready Button --*/
.ready {
  border-radius: 10px;
  border: 2px solid;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  padding-top: 20px;
  background: linear-gradient(to top, green, lightgreen);
  border-color: #1d1d1d;
  color: white;
  text-shadow: 0px 0px 3px black, 0px 0px 4px black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 2px 2px 4px black;
}

.ready:hover {
  background: linear-gradient(to top, rgb(0, 150, 0), rgb(160, 243, 160));
}

/*-- Stay Hydrated Link --*/
.hydrate {
  color: white;
  text-shadow: 0px 0px 3px black, 0px 0px 4px black;
  padding-bottom: 50px;
  
}

.water-bottle {
  background-image: url(water-bottle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}

/*--====================
    Fitness Tracker 
=====================--*/
#fitnessTitle {
  margin-bottom: 30px;
  color: rgb(0, 148, 0);
  text-shadow: 0px 0px 5px rgb(0, 0, 0), 2px 2px 8px rgb(0, 0, 0);
  font-family: monospace;
}

/*--  Input Forms --*/
.fitness input {
  font-size: 120%;
  color: rgb(240, 56, 56);
  font-family: sans-serif;
  font-weight: bold;
  border-color: darkgreen;
  text-align: center;
  width: 50%;
}

input:focus {
  border-color: red;
  border-width: 3px;
  outline: darkgreen;
}

#time {
  border-radius: 15px 0px 0px 15px;
  background-color: lightgreen;
}

#goal {
  border-radius: 15px 0px 0px 15px;
  background-color: lightgreen;
}

/*--  Background --*/
.fitness {
  background: linear-gradient(to top, rgba(0, 128, 0, 0.5), rgba(144, 238, 144, 0.5));
  padding: 20px;
  padding-top: 40px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid rgba(0, 128, 0, 0.733);
  box-shadow: 5px 5px rgb(0, 39, 0), 2px 2px 7px black
}

@media (min-width: 750px) {
  #fitness {
  width: 60%;
  max-width: 500px;
 }
}

/*--  Buttons --*/
#addBtn {
  border-radius: 0px 15px 15px 0px;
}

#setGoalBtn {
  border-radius: 0px 15px 15px 0px;
}

#resetBtn {
  margin-top: 20px;
}

/*--  Output --*/
.outputBg {
  background: linear-gradient(to bottom, rgb(65, 65, 65), rgb(48, 48, 48));
  padding-top: 10px;
  border-radius: 15px;
  border: 3px solid rgb(83, 83, 83);
}

#outputBg {
  width: 70%;
  height: 100%;
  min-height: 75px;
  margin-top: 15px;
}

#outputBg p {
  font-family: monospace;
}

/*--====================
    Water Tracker 
=====================--*/
#water {
  background-image: url(droplet.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 525px;
  margin-top: -30px;
}

#water h3 {
  margin-top: 290px;
  color: lightblue;
  text-shadow: 0px 0px 2px black, 0px 0px 4px black, 0px 0px 3px black;
}

#water input {
  background-color: aquamarine;
  border-color: rgb(0, 56, 25);
  border-radius: 5px;
  color: rgb(0, 59, 59);
  font-weight: bold;
}

#waterOutput {
  color: lightblue;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 0px 0px 3px black, 0px 0px 2px black;
}

#water button {
  color: blue;
  background: linear-gradient(to top, rgb(0, 189, 148), aquamarine);
  border: 2px solid rgb(53, 53, 235);
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bold;
}

/*--=========================
        BOTTOM NAVBAR
===========================--*/

/*--  Bottom NavBar for Small Screens --*/
@media (max-width: 576px) {
 #bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: linear-gradient(to top, rgba(161, 161, 161, 0.541), rgba(0, 0, 0, 0.507));
  border-top: 2px solid rgba(53, 53, 53, 0.356);
  box-shadow: 1px 1px 5px black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 2;
  width: 100%;
  }
  .water-btn-btm {
    margin-right: 5px;
    margin-left: 7px;
  }
}

@media (min-width: 576px) {
 #bottom-nav {
  display: none;
 }
}

/*--=========================
          Footer
===========================--*/

footer {
  border-top: 1px solid rgb(136, 136, 136);
  border-radius: 7px;
  background: linear-gradient(to top, rgba(161, 161, 161, 0.541), rgba(0, 0, 0, 0.507));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-bottom: 60px;
  padding-top: 20px;
  color: rgb(192, 192, 192);
  font-weight: 200;
  width: 100%;
}

footer p {
  margin-top: 10px;
}



